th{
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
    border-top: 2px solid rgba(209, 213, 219, var(--tw-bg-opacity));
    border-bottom: 2px solid rgba(209, 213, 219, var(--tw-bg-opacity));
    border-right: 2px solid rgba(209, 213, 219, var(--tw-bg-opacity));
    border-left: 2px solid rgba(209, 213, 219, var(--tw-bg-opacity));   
}
td{
    text-align: center;
    border: 2px solid rgba(209, 213, 219, var(--tw-bg-opacity));
}
.tab_container .active{
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.content{
    display: none;
}
.content div.active{
    display: inherit;
}

select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.form-panel{
    display: none;
}

.chevron-down{
    filter: invert(23%) sepia(84%) saturate(408%) hue-rotate(148deg) brightness(95%) contrast(86%);
}