.onboard_title{
    font-family: 'calendas_plusregular';
}

.logo{
    background-color:#205566;
    -webkit-mask: url(asset/administration.svg) no-repeat center;
    mask: url(asset/administration.svg) no-repeat center;
}


