{% extends 'general_template.html' %}
<!-- TODO: Create income section and expense section, a certain icon will be used to mark a sponsored income record -->

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='event_template.css')}}">
{% endblock %}

{% block left_cont %}
{{ m.user_nav(event_dict) }}
{% endblock %}

{% block right_cont %}
<div class="container flex flex-col px-12">
    <h1 class="text-center text-2xl pt-6 pb-4">Admin</h1>
    <div class="tab_container container flex h-18">
        <div class="tabs bg-gray-300 cursor-pointer p-3 text-center border-2 rounded-t-lg"><b>Sponsors</b></div>
    </div>
    <table class="content container border-2 table-auto">        
        <tr id="table-header">
            <th class="border-2 h-10">Id</th>
            <th class="border-2 h-10">Name</th>
            <th class="border-2 h-10">Address</th>
            <th class="border-2 h-10">Phone number</th>
            <th class="border-2 h-10">Type</th>
            <th class="border-2 h-10">Contact name</th>
            {% if (editPrivilege) %}
            <th class="border-2 h-10 w-14">Edit</th>
        </tr>

            {{ m.table_content(sponsor_dict, True) }}
        
        <!-- Placeholder values -->
        <tr>
            <td class="border-2 h-10">1</td>
            <td class="border-2 h-10">Furries</td>
            <td class="border-2 h-10">Nusaponycon</td>
            <td class="border-2 h-10">+1203912039012</td>
            <td class="border-2 h-10">Money</td>
            <td class="border-2 h-10">Money</td>
            <td class="border-2 h-10">
                <img src="{{url_for('static',filename='asset/pencil.svg')}}" class="edit cursor-pointer m-auto w-6 h-6" alt="">
                <input type="image" src="{{url_for('static',filename='asset/check.svg')}}" class="submit hidden m-auto w-6 h-6" alt="">
                <img src="{{url_for('static',filename='asset/trash.svg')}}" class="delete m-auto w-6 h-6" alt="">
            </td>
        </tr>
    </table>
    <div class="form-wrapper">
        <form action="" method="post" class="form-panel flex flex-col flex-grow w-full border-gray-300 border-b-2 border-l-2 border-r-2 rounded-b-md">
            <div class="grid gap-x-4 px-2 grid-cols-4 md:grid-cols-4 w-full sm:h-24 md:h-16 rounded-b-md bg-green-200 md:py-3">
                <input type="text" required name="Name" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Name">
                <input type="text" required name="Address" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Address">
                <input type="text" required name="Mail" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Mail">
                <select name="Type" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0">
                    <option value="Money">Money</option>
                    <option value="Equipment">Equipment</option>
                    <option value="Money and Equipment">Money and Equipment</option>
                </select>
            </div>
            <div class="w-full flex justify-end pr-2 py-2">
                <input type="submit" value="Add Item" class="w-16 border-b-4 border transition w-20 bg-white p-1 text-center hover:bg-green-300 hover:border-green-400 hover:text-white">
            </div>
        </form>
        <div class="w-full flex justify-end h-6">
            <div class="w-12 bg-gray-100 border-b-2 border-l-2 border-r-2 flex justify-center mr-2 show-form">
                <img src="{{url_for('static',filename='asset/chevron-down.svg')}}" alt="" class="chevron-down transition h-6 w-6">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script>var activeTable = 0;var hasEditPrivilege = {{ editPrivilege|safe }}; </script>
    <script src="{{url_for('static', filename='event_table.js')}}"></script>
    <script src="{{url_for('static', filename='input_validator.js')}}"></script>
    <script>
        $(document).on('click','.edit', function(){
            $(this).css({'display' : 'none'});

            // Row that is being edited
            editRow = $(this).parent().parent();
            // console.log(editRow)

            // Initializes all default values into the new input
            if(activeTable == 0){
                defaultNameVal = $(editRow).children('td').eq(1).text() 
                defaultAddressVal = $(editRow).children('td').eq(2).text()
                defaultPhoneVal = $(editRow).children('td').eq(3).text()
                defaultTypeVal = $(editRow).children('td').eq(4).text()
                defaultContactVal = $(editRow).children('td').eq(5).text()
                
                $(editRow).children('td').eq(1).html('<input class="m-auto border focus:ring-2 outline-none text-center" id="name" type="text" required name="Name" value="'+ defaultNameVal + '">');
                $(editRow).children('td').eq(2).html('<input class="m-auto border focus:ring-2 outline-none text-center" id="address" type="text" required name="Address" value="'+ defaultAddressVal + '">');
                $(editRow).children('td').eq(3).html('<input class="m-auto border focus:ring-2 outline-none text-center" id="phone" type="text" required name="Phone" value="'+ defaultPhoneVal +'">');
                $(editRow).children('td').eq(4).html(`
                    <select class="m-auto text-center focus:ring-2 outline-none border" id="type" required name="Type">
                        <option value="` + defaultTypeVal + `" selected hidden> ` + defaultTypeVal + `</option>
                        <option value="Money">Money</option>
                        <option value="Equipment">Equipment</option>
                        <option value="Money and Equipment">Money and Equipment</option>
                    </select>
                `);
                $(editRow).children('td').eq(5).html('<input class="m-auto border focus:ring-2 outline-none text-center" id="contact" type="text" required name="Contact" value="'+ defaultContactVal +'">');
            }
            
            // Activates second child (checkmark)
            $(this).parent().children('input').css({'display':'block'});    
        })
        
        $(document).on('click','.submit', function(){
            // Serializes form data into string
        
            // Gets the row that is being edited
            editRow = $(this).parent().parent();
            
            var serializedForm = ""
            if(activeTable == 0){

                serializedForm += 'Id=' + editRow.children().first().text()
                serializedForm += '&' + editRow.find('#name').attr('name') + '=' + editRow.find('#name').val()
                serializedForm += '&' + editRow.find('#address').attr('name') + '=' + editRow.find('#address').val()
                serializedForm += '&' + editRow.find('#phone').attr('name') + '=' + editRow.find('#phone').val()
                serializedForm += '&' + editRow.find('#type').attr('name') + '=' + editRow.find('#type').val()
                serializedForm += '&' + editRow.find('#contact').attr('name') + '=' + editRow.find('#contact').val()
                serializedForm += "&activeTable=" + activeTable;

                
                $(editRow).children('td').eq(1).html(editRow.find('#name').val());
                $(editRow).children('td').eq(2).html(editRow.find('#address').val());
                $(editRow).children('td').eq(3).html(editRow.find('#phone').val());
                $(editRow).children('td').eq(4).html(editRow.find('#type').val());
                $(editRow).children('td').eq(5).html(editRow.find('#contact').val());
            }
            
            
            console.log(serializedForm);
            
            // Used to add a record on the front end
            var currentPath = window.location.pathname;
            $(this).parent().children('img').css({'display':'block'});
            
            $.ajax({
                type : "POST",
                url : currentPath + "/update",
                data : serializedForm,
                success : function(){
                    alert("Succesfully added record");
                }
            });
            $(this).parent().children('input').css({'display':'none'});
        });
    </script>
{% endblock %} 