{% extends 'general_template.html' %}
<!-- TODO: Create income section and expense section, a certain icon will be used to mark a sponsored income record -->

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='event_template.css')}}">
{% endblock %}

{% block left_cont %}
{{ m.event_nav(event_name,event_id) }}
{% endblock %}

{% block right_cont %}
<div class="container flex flex-col px-12">
    <h1 class="text-center text-2xl pt-6 pb-4">Inventory</h1>
    <div class="tab_container container flex h-18">
        <div class="tabs bg-gray-300 cursor-pointer p-3 w-28 text-center border-2 rounded-t-lg"><b>Inventory</b></div>
    </div>
    <table class="content container border-2 table-auto">        
        <tr id="table-header">
            <th class="border-2 h-10">Id</th>
            <th class="border-2 h-10">Name</th>
            <th class="border-2 h-10">Position</th>
            <th class="border-2 h-10">Mail</th>
            {% if (editPrivilege) %}
            <th class="border-2 h-10 w-14">Edit</th>
            {% endif %}
        </tr>

        <!-- Commented out jinja template -->
        {{ m.table_content(all_member_dict,editPrivilege) }}
            
        <!-- Placeholder values -->
        <tr>
            <td class="border-2 h-10">0</td>
            <td class="border-2 h-10">Fursuit</td>
            <td class="border-2 h-10">Vice something</td>
            <td class="border-2 h-10">asdf@gmail.com</td>
            <td class="border-2 h-10">
                <img src="{{url_for('static',filename='asset/pencil.svg')}}" class="edit cursor-pointer m-auto w-6 h-6" alt="">
                <input type="image" src="{{url_for('static',filename='asset/check.svg')}}" class="submit m-auto w-6 h-6" alt="">
                <img src="{{url_for('static',filename='asset/trash.svg')}}" class="delete m-auto w-6 h-6" alt="">
            </td>
        </tr>
    </table>
    {% if (addPrivilege) %}
    <form action="" method="post" class="form-panel flex flex-col flex-grow w-full border-gray-300 border-b-2 border-l-2 border-r-2 rounded-b-md">
        <div class="grid gap-x-4 px-2 grid-cols-3 md:grid-cols-3 w-full sm:h-24 md:h-16 rounded-b-md bg-green-200 md:py-3">
            <input type="text" required name="name" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Name">
            <input type="text" required name="amount" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Amount">
            <input type="text" required name="mail" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Email">
        </div>
        <div class="w-full flex justify-end pr-2 py-2">
            <input type="submit" value="Add Item" class="w-16 border-b-4 border transition w-20 bg-white p-1 text-center hover:bg-green-300 hover:border-green-400 hover:text-white">
        </div>
    </form>
    <div class="w-full flex justify-end h-6">
        <div class="w-12 bg-gray-100 border-b-2 border-l-2 border-r-2 flex justify-center mr-2 show-form">
            <img src="{{url_for('static',filename='asset/chevron-down.svg')}}" alt="" class="chevron-down transition h-6 w-6">
            <img src="{{url_for('static',filename='asset/trash.svg')}}" class="delete m-auto w-6 h-6" alt="">
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
    <script>var activeTable = 0;var hasEditPrivilege = {{ editPrivilege|safe }}; </script>
    <script src="{{url_for('static', filename='event_table.js')}}"></script>
    <script src="{{url_for('static', filename='input_validator.js')}}"></script>
    <script>
        $(document).on('click','.edit', function(){
            $(this).css({'display' : 'none'});

            // Row that is being edited
            editRow = $(this).parent().parent();
            // console.log(editRow)

            // Initializes all default values into the new input
            defaultNameVal = $(editRow).children('td').eq(1).text() 
            defaultPositionVal = $(editRow).children('td').eq(2).text()
            defaultMailVal = $(editRow).children('td').eq(3).text()
            

            $(editRow).children('td').eq(1).html('<input class="m-auto border focus:ring-2 outline-none text-center" id="name" type="text" required name="Name" value='+ defaultNameVal + '>');
            $(editRow).children('td').eq(2).html(`
                <select class="m-auto text-center focus:ring-2 border outline-none" id="Position" required name="Position">
                    <option value="` + defaultPositionVal + `" selected hidden>` + defaultPositionVal + `</option>
                    {{ m.dropdown_option(position_dict) }}
                </select>   
            `);
            $(editRow).children('td').eq(3).html('<input class="m-auto border focus:ring-2 outline-none text-center" id="mail" type="text" required name="Mail" value='+ 
                                                defaultMailVal +'>');
            
            // Activates second child (checkmark)
            $(this).parent().children('input').css({'display':'block'});    
        })
        
        $(document).on('click','.submit', function(){
            // Serializes form data into string
        
            // Gets the row that is being edited
            editRow = $(this).parent().parent();
            
            // TODO : input validation
            var serializedForm = ""
            serializedForm += 'Id=' + editRow.children().first().text()
            serializedForm += '&' + editRow.find('#name').attr('name') + '=' + editRow.find('#name').val()
            serializedForm += '&' + editRow.find('#position').attr('name') + '=' + editRow.find('#position').val().replace(/[^0-9.-]+/g,"")
            serializedForm += '&' + editRow.find('#type').attr('name') + '=' + editRow.find('#type').val()
            serializedForm += "&activeTable=" + activeTable;

            if(!validateEmpty(editRow.find('#name').val())){
                editRow.find('#name').addClass('border-red-500');
                return 0;
            } else if(!validateName(editRow.find('#position').val())){
                editRow.find('#position').addClass('border-red-500');
                return 0;
            } else if(!validateEmail(editRow.find('#mail').val())){
                editRow.find('#mail').addClass('border-red-500');
                return 0;
            }
            
            $(editRow).children('td').eq(1).html(editRow.find('#name').val());
            $(editRow).children('td').eq(2).html(editRow.find('#position').val());
            $(editRow).children('td').eq(3).html(editRow.find('#mail').val());
            
            console.log(serializedForm);
            
            // Used to add a record on the front end
            var currentPath = window.location.pathname;
            $(this).parent().children('img').css({'display':'block'});
            
            $.ajax({
                type : "POST",
                url : currentPath + "/update",
                data : serializedForm,
                success : function(){
                    alert("Succesfully added record");
                }
            });
            $(this).parent().children('input').css({'display':'none'});
        });
    </script>
{% endblock %} 