<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        {% block head %}{% endblock %}
        <title>{% block title %}{% endblock %} Event Management System</title>
    </head>
    <body class = "m-0 p-0 bg-white">  
        {% block body %}{% endblock %}
    </body>
</html>
