<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="{{url_for('static',filename='tailwind.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static',filename='base.css')}}">
        {% block head %}{% endblock %}
        <title>{% block title %}{% endblock %} Event Management System</title>
        <script src="{{url_for('static',filename='jquery.js')}}"></script>
    </head>
    <body class = "no-scroll m-0 p-0 bg-white">
        {% block body %}{% endblock %}
    </body>
    {% block scripts %}{% endblock %}
    
</html>
