{% extends 'general_template.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='event_template.css')}}">
{% endblock %}
<!-- TODO: Create event description page -->

<!-- TODO: Create active css element for > arrow -->
<!-- Reference : kmk 2 -->
{% block left_cont %}
    <aside class="container flex flex-col my-3 px-5">
        <div class="flex justify-between items-center">
            <!-- Event name goes here -->
            <a class="text-lg truncate hover:underline" href=""><h1>NusaPonyCon</h1></a>
        </div>
        <div class="left_fade_line h-px my-2"></div>
        <div class="text-md flex flex-col truncate overflow-hidden">
            <!-- For i in someone's event list,  -->
            <a class="text-blue-600 hover:underline" href="">Members</a>
            <a class="text-blue-600 hover:underline" href="">Finance</a>
            <a class="text-blue-600 hover:underline" href="">Inventory</a>
        </div>
    </aside>
{% endblock %}
