{% extends 'general_template.html' %}
<!-- TODO: Create income section and expense section, a certain icon will be used to mark a sponsored income record -->
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='event_template.css')}}">
{% endblock %}

{% block left_cont %}
{{ m.event_nav() }}
{% endblock %}

{% block right_cont %}
<div class="w-full flex flex-col px-12">
    <h1 class="text-center text-2xl pt-6 pb-4">Finance</h1>
    <div class="tab_container container flex h-18">
        <div class="tabs bg-gray-300 cursor-pointer p-3 w-28 text-center border-2 rounded-t-lg"><b>Income</b></div>
        <div class="tabs bg-gray-300 cursor-pointer p-3 w-28 text-center border-2 rounded-t-lg"><b>Expense</b></div>
    </div>
    <table class="content container border-2 table-auto">        
        <tr id="table-header">
            <th class="border-2 h-10">ID</th>
            <th class="border-2 h-10">Date</th>
            <th class="border-2 h-10">Name</th>
            <th class="border-2 h-10">Cost</th>
            <th class="border-2 h-10">Type</th>
            <th class="border-2 h-10">Sponsors</th>
            {% if (editPrivilege) %}
            <th class="border-r-2 h-10 w-14">Edit</th>
            {% endif %}
        </tr>

            {{ m.table_content(income_dict,editPrivilege) }}

        <!-- Placeholder values -->
        {#
        <tr>
            <td class="border-2 h-10">2020-11-13</td>
            <td class="border-2 h-10">Fursuit</td>
            <td class="border-2 h-10">IDR 100,000,000.00</td>
            <td class="border-2 h-10">Food and Beverage</td>
            <td class="border-2 h-10">Furry Community</td>
            <td class="border-2 h-10">
                <img src="{{url_for('static',filename='asset/pencil.svg')}}" class="edit cursor-pointer m-auto w-6 h-6" alt="">
                <input type="image" src="{{url_for('static',filename='asset/check.svg')}}" class="submit m-auto w-6 h-6" alt="">
                <img src="{{url_for('static',filename='asset/trash.svg')}}" class="delete m-auto w-6 h-6" alt="">
            </td>
        </tr>
        <tr>
            <td class="border-2 h-10">2020-11-13</td>
            <td class="border-2 h-10">Yes</td>
            <td class="border-2 h-10">IDR 100,000,000.00</td>
            <td class="border-2 h-10">Food and Beverage</td>
            <td class="border-2 h-10">LOL!</td>
            <td class="border-2 h-10">
                <img src="{{url_for('static',filename='asset/pencil.svg')}}" class="edit cursor-pointer m-auto w-6 h-6" alt="">
                <input type="image" src="{{url_for('static',filename='asset/check.svg')}}" class="submit m-auto w-6 h-6" alt="">
                <img src="{{url_for('static',filename='asset/trash.svg')}}" class="delete m-auto w-6 h-6" alt="">
            </td>
        </tr>
        #}
    </table>
    
    <table class="content container border-2 table-auto">
        <tr id="table-header">
            <th class="border-2 h-10">ID</th>
            <th class="border-2 h-10">Date</th>
            <th class="border-2 h-10">Name</th>
            <th class="border-2 h-10">Cost</th>
            <th class="border-2 h-10">Type</th>
            {% if (editPrivilege) %}
            <th class="border-2 h-10 w-14">Edit</th>
            {% endif %}
        </tr>
            {{ m.table_content(expense_dict,editPrivilege) }}
        {#
        <tr>
            <td class="border-2 h-10">2020-11-13</td>
            <td class="border-2 h-10">Yes</td>
            <td class="border-2 h-10">IDR 100,000,000.00</td>
            <td class="border-2 h-10">Food and Beverage</td>
            <td class="border-2 h-10">
                <img src="{{url_for('static',filename='asset/pencil.svg')}}" class="edit cursor-pointer m-auto w-6 h-6" alt="">
                <input type="image" src="{{url_for('static',filename='asset/check.svg')}}" class="submit m-auto w-6 h-6" alt="">
                <img src="{{url_for('static',filename='asset/trash.svg')}}" class="delete m-auto w-6 h-6" alt="">
            </td>
        </tr>
        #}
    </table>

    {% if (addPrivilege) %}
    <div class="form-wrapper">
        <form action="" method="post" class="form-panel flex flex-col flex-grow w-full border-gray-300 border-b-2 border-l-2 border-r-2 rounded-b-md">
            <div class="grid gap-x-4 px-2 grid-cols-5 md:grid-cols-5 w-full sm:h-24 md:h-16 rounded-b-md bg-green-200 md:py-3">
                <input type="date" required name="Date" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Date">
                <input type="text" required name="Name" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Name">
                <input type="text" required name="Cost" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Cost" pattern="[0-9]+">
                <select required class="rounded border outline-none px-2 my-1 md:my-0 focus:ring-2" name="Type">
                    <option value="Ticket Sales" selected>Ticket Sales</option>
                    <option value="Merchandise">Merchandise</option>
                    <option value="Sponsor">Sponsor</option>
                    <option value="Other">Other</option>
                </select>
                <select required class="rounded border outline-none px-2 my-1 md:my-0 focus:ring-2" name="Sponsor">
                    {% for dict_item in sponsor_dict %}
                        <option value="{{dict_item['sponsor_id']}}">{{dict_item['sponsor_name']}}</option>
                    {% endfor %}
                    <option value="Sponsor x">Sponsor x</option>
                </select>
            </div>
            <div class="w-full flex justify-end pr-2 py-2">
                <input type="submit" value="Add Item" class="w-16 border-b-4 border transition w-20 bg-white p-1 text-center hover:bg-green-300 hover:border-green-400 hover:text-white">
            </div>
        </form>
        <div class="w-full flex justify-end h-6">
            <div class="w-12 bg-gray-100 border-b-2 border-l-2 border-r-2 flex justify-center mr-2 show-form">
                <img src="{{url_for('static',filename='asset/chevron-down.svg')}}" alt="" class="chevron-down transition h-6 w-6">
            </div>
        </div>
    </div>
    <div class="form-wrapper">
        <form action="" method="post" class="form-panel flex flex-col flex-grow w-full border-gray-300 border-b-2 border-l-2 border-r-2 rounded-b-md">
            <div class="grid gap-x-4 px-2 grid-cols-4 md:grid-cols-4 w-full sm:h-24 md:h-16 rounded-b-md bg-green-200 md:py-3">
                <input type="date" required name="Date" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Date">
                <input type="text" required name="Name" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Name">
                <input type="text" required name="Cost" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Cost" pattern="[0-9]+">
                <select required class="rounded border outline-none px-2 my-1 md:my-0 focus:ring-2" name="Type">
                    <option value="Venue" selected>Venue</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Food and Beverage">Food and Beverage</option>
                    <option value="Art Supplies">Art Supplies</option>
                    <option value="Equipment">Equipment</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="w-full flex justify-end pr-2 py-2">
                <input type="submit" value="Add Item" class="w-16 border-b-4 border transition w-20 bg-white p-1 text-center hover:bg-green-300 hover:border-green-400 hover:text-white">
            </div>
        </form>
        <div class="w-full flex justify-end h-6">
            <div class="w-12 bg-gray-100 border-b-2 border-l-2 border-r-2 flex justify-center mr-2 show-form">
                <img src="{{url_for('static',filename='asset/chevron-down.svg')}}" alt="" class="chevron-down transition h-6 w-6">
            </div>
        </div>
    </div>
    {% endif %}
    <!-- <img src="{{url_for('static',filename='asset/plus.svg')}}" alt="" class="w-6 h-6"> -->
</div>
{% endblock %}

{% block scripts %}
    <script>
        // Initializes global variables
        var activeTable = 0;
        var hasEditPrivilege = {{ editPrivilege|safe }};
    </script>
    <script src="{{url_for('static',filename='event_table.js')}}"></script>
    <script src="{{url_for('static',filename='input_validator.js')}}"></script>
    <script>
        var formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'IDR',
        });

        // I'm not proud of this
        // This is a blunder of a code
        
        $(document).on('click','.edit', function(){
            $(this).css({'display' : 'none'});
            
            // Row that is being edited
            editRow = $(this).parent().parent();
            // console.log(editRow)

            // Initializes all default values into the new input
            defaultDateVal = $(editRow).children('td').eq(0).text()
            defaultNameVal = $(editRow).children('td').eq(1).text() 
            defaultAmountVal = $(editRow).children('td').eq(2).text().replace(/[^0-9.-]+/g,"")
            defaultTypeVal = $(editRow).children('td').eq(3).text()
            defaultSponsorVal = $(editRow).children('td').eq(4).text()
            

            $(editRow).children('td').eq(0).html('<input class="m-auto border focus:ring-2 outline-none text-center" id="date" type="date" required name="Date" value='+ defaultDateVal + '>');
            $(editRow).children('td').eq(1).html('<input class="m-auto border focus:ring-2 outline-none text-center" id="name" type="text" required name="Name" value='+ defaultNameVal + '>');
            $(editRow).children('td').eq(2).html('<input class="m-auto border focus:ring-2 outline-none text-center" id="amount" type="text" required pattern="[0-9]+" name="Amount" value='+ 
                                                defaultAmountVal +'>');

            if(activeTable == 0){
                $(editRow).children('td').eq(3).html(`
                <select class="m-auto text-center focus:ring-2 outline-none border" id="type" required name="Type">
                    <option value="` + defaultTypeVal + `" selected hidden> ` + defaultTypeVal + `</option>
                    <option value="Sponsor">Sponsor</option>
                    <option value="Ticket Sales">Ticket Sales</option>
                    <option value="Merchandise">Merchandise</option>
                </select>
                `);

                $(editRow).children('td').eq(4).html(`
                <select class="m-auto border text-center focus:ring-2 outline-none" id="sponsor" required name="Sponsor">
                    <option value="` + defaultSponsorVal + `" selected hidden> ` + defaultSponsorVal + `</option>
                    {{ m.dropdown_option(sponsor_dict)}}
                </select>
                `);
            } else{
                $(editRow).children('td').eq(3).html(`
                <select class="m-auto text-center focus:ring-2 outline-none border" id="type" required name="Type">
                    <option value="` + defaultTypeVal + `" selected hidden> ` + defaultTypeVal + `</option>
                    <option value="Venue">Venue</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Food and Beverage">Food and Beverage</option>
                    <option value="Art Supplies">Art Supplies</option>
                    <option value="Equipment">Equipment</option>
                    <option value="Other">Other</option>
                </select>
                `);
            }
            // Activates second child (checkmark)
            $(this).parent().children('input').css({'display':'block'});    
        })
        
        $(document).on('click','.submit', function(){
            // Serializes form data into string
        
            // Gets the row that is being edited
            editRow = $(this).parent().parent();
            
            // TODO : input validation
            var serializedForm = "";
            serializedForm += editRow.find('#date').attr('name') + '=' + editRow.find('#date').val();
            serializedForm += '&' + editRow.find('#name').attr('name') + '=' + editRow.find('#name').val();
            serializedForm += '&' + editRow.find('#amount').attr('name') + '=' + parseFloat(editRow.find('#amount').val());
            serializedForm += '&' + editRow.find('#type').attr('name') + '=' + editRow.find('#type').val();
            if(activeTable == 0){
                serializedForm += '&' + editRow.find('#sponsor').attr('name') + '=' + editRow.find('#type').val();
            }
            serializedForm += "&activeTable=" + activeTable;
            
            if(!validateEmpty(editRow.find('#date').val())){
                editRow.find('#date').addClass('border-red-500');
                return 0;
            } else if(!validateName(editRow.find('#name').val())){
                editRow.find('#name').addClass('border-red-500');
                return 0;
            } else if(!validateMoney(editRow.find('#amount').val())){
                editRow.find('#amount').addClass('border-red-500');
                return 0;
            }

            editRow = $(this).parent().parent();
            $(editRow).children('td').eq(0).html(editRow.find('#date').val());
            $(editRow).children('td').eq(1).html(editRow.find('#name').val());
            $(editRow).children('td').eq(2).html(formatter.format(editRow.find('#amount').val()));
            $(editRow).children('td').eq(3).html(editRow.find('#type').val());
            if(activeTable == 0){
                $(editRow).children('td').eq(4).html(editRow.find('#sponsor').val()); 
            }
            
            console.log(serializedForm);
            // Used to add a record on the front end
            var currentPath = window.location.pathname;
            $(this).parent().children('img').css({'display':'block'});
            
            $.ajax({
                type : "POST",
                url : currentPath + "/update",
                data : serializedForm,
                success : function(){
                    alert("Succesfully added record");
                }
            });
            $(this).parent().children('input').css({'display':'none'});
        });
    </script>
{% endblock %} 