{% extends 'event_template.html' %}
<!-- TODO: Create income section and expense section, a certain icon will be used to mark a sponsored income record -->

{% block right_cont %}
<div class="container flex flex-col px-12">
    <h1>Finance</h1>
    <div class="tabs container flex h-18">
        <div class="bg-gray-300 cursor-pointer p-3 w-28 text-center border-2 rounded-t-lg active"><b>Income</b></div>
        <div class="bg-gray-300 cursor-pointer p-3 w-28 text-center border-2 rounded-t-lg"><b>Expense</b></div>
    </div>
    <table class="content container border-2 table-fixed">
        <tr>
            <th class="border-2 h-10">Date</th>
            <th class="border-2 h-10">Name</th>
            <th class="border-2 h-10">Amount</th>
        </tr>
        <tr>
            <td class="border-2 h-10">12-11-2020</td>
            <td class="border-2 h-10">Fursuit</td>
            <td class="border-2 h-10">Rp.2.000.000</td>
        </tr>
    </table>
    <table class="content container border-2 table-fixed">
        <tr>
            <th class="border-2 h-10">Date</th>
            <th class="border-2 h-10">Name</th>
            <th class="border-2 h-10">Amount</th>
        </tr>
        <tr>
            <td class="border-2 h-10">12-11-2020</td>
            <td class="border-2 h-10">Fursuit</td>
            <td class="border-2 h-10">Rp.2.000.000</td>
        </tr>
    </table>
</div>
{% endblock %}

{% block scripts %}
    <!-- <script>
        $(document).ready(function(){
            $('')
        })
    </script> -->
{% endblock %}