{% extends 'base.html' %}
{% import 'macros.html' as m %}
{% block body %}
    <div class="flex flex-col h-screen items-stretch w-screen">
        <header class="w-screen h-24 bg-green-200 border-b-4 flex flex-shrink-0 items-center justify-between">
            <div class = "text-2xl ml-6" style="font-family: 'mermaid';">
                <a href="{{url_for('index.index')}}">
                Epic Management System</a></div>
            <nav class = "flex flex-row mr-6">
                {% if session.get("user_name") == None %}
                <a class = "m-3" href="{{url_for('user.login')}}">
                    <div class="button transition w-16 bg-white border-b-4 p-1 text-center hover:bg-green-300 hover:border-green-400 hover:text-white">Login</div>
                </a>
                <a class = "m-3" href="{{url_for('user.register')}}">
                    <div class="button transition w-20 bg-white border-b-4 p-1 text-center hover:bg-green-300 hover:border-green-400 hover:text-white">Register</div>
                </a>
                {% else %}

                {% if session.get("isadmin") %}
                <a class = "m-3" href="{{url_for('index.admin')}}">
                    <div class="button transition w-20 bg-white border-b-4 p-1 text-center hover:bg-green-300 hover:border-green-400 hover:text-white">Admin</div>
                </a>
                {% endif %}
                <a class = "m-3" href="{{url_for('user.profile_page', id = session.get('member_id'))}}">
                    <div class="button transition bg-white border-b-4 p-1 text-center hover:bg-green-300 hover:border-green-400 hover:text-white" style="min-width: 50px;">{{session.get("user_name")}}</div>
                </a>
                <a class="m-3" href="{{url_for('user.logout')}}">
                    <div class="transition w-20 bg-white border-b-4 p-1 text-center hover:bg-green-300 hover:border-green-400 hover:text-white">Log Out</div>
                </a>
                {% endif %}
            </nav>
        </header>
        <div class="w-screen flex flex-grow flex-row items-stretch">
            <div class="md:w-72 h-full border-r-4 bg-green-100 hidden md:block">
                {% block left_cont %}{% endblock %}
            </div>
            <div class="flex-1 h-full border-r-4 w-full">
                {% block right_cont %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}