{% macro event_nav() %}
<aside class="container flex flex-col my-3 px-5">
    <div class="flex justify-between items-center">
        <!-- Commented out jinja -->
        {#
            <a class="text-lg truncate hover:underline" href=""><h1>{{ event_name }}</h1></a>
        #}

        <!-- Placeholder name-->
        <a class="text-lg truncate hover:underline" href=""><h1>NusaPonyCon</h1></a>
    </div>
    <div class="left_fade_line h-px my-2"></div>
    <div class="text-md flex flex-col truncate overflow-hidden">
        <a class="text-blue-600 hover:underline outline-none" href="">Members</a>
        <a class="text-blue-600 hover:underline outline-none" href="">Finance</a>
        <a class="text-blue-600 hover:underline outline-none" href="">Inventory</a>
    </div>
</aside>
{% endmacro %}

{% macro user_nav() %}
<aside class="container flex flex-col my-3 px-5">
    <div class="flex justify-between items-center">
        <span class="text-lg">Events</span>
        <a href="{{url_for('event.add_new')}}"><span class="bg-green-300 text-sm h-full py-px px-1 rounded-sm">New+</span></a>
    </div>
    <div class="left_fade_line h-px my-2"></div>
    <div class="text-md flex flex-col truncate overflow-hidden">
        <!-- For i in someone's event list,  -->
        <a class="text-blue-600 hover:underline" href="">Username/Nama Event</a>
        <a class="text-blue-600 hover:underline" href="">Username/Nama Event</a>
    </div>
</aside>
{% endmacro %}

{% macro table_content(table_dict) %}
<!-- Iterates over a dictionary, showing it on table -->
<!-- If there is no item, show 'No entries in table' -->

{% for dict_item in table_dict %}
    <tr>
        {% for key,value in dict_item.items() %}
            <td class="border-2 h-10">{{ value }}</td>
        {% endfor %}
    </tr>
{% else %}
    <td class="empty_message text-gray-400 text-center text-2xl" colspan="4">No entries in table</div>
{% endfor %}
{% endmacro %}