{% extends 'general_template.html' %}
<!-- Todo : Create committee, members, guests section -->

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='event_template.css')}}">
{% endblock %}

{% block left_cont %}
{{ m.event_nav(event_name,event_id) }}
{% endblock %}

{% block right_cont %}
<div class="container flex flex-col px-12">
    <h1 class="text-center text-2xl pt-6 pb-4">Members</h1>
    <div class="tab_container container flex h-18">
        <div class="tabs bg-gray-300 cursor-pointer p-3 w-28 text-center border-2 rounded-t-lg"><b>Committee</b></div>
        <div class="tabs bg-gray-300 cursor-pointer p-3 w-28 text-center border-2 rounded-t-lg"><b>Volunteer</b></div>
        <div class="tabs bg-gray-300 cursor-pointer p-3 w-28 text-center border-2 rounded-t-lg"><b>Guests</b></div>
    </div>
    
    <table class="content container border-2 table-auto">
        <tr id="table-header">
            <th class="border-2 h-10">ID</th>
            <th class="border-2 h-10">Name</th>
            <th class="border-2 h-10">Position</th>
            <th class="border-2 h-10">Clearance</th>
            {% if (editPrivilege) %}
            <th class="border-2 h-10 w-14">Edit</th>
            {% endif %}
        </tr>

        <!-- Commented out jinja template -->
        <!-- Calls function to display table contents, accepts a dictionary of content as argument-->
        {{ m.table_content(committee_dict,editPrivilege) }}
        <!-- Placeholder values -->
        {#
        <tr>
            <td class="border-2 h-10">1</td>
            <td class="border-2 h-10">Chaika</td>
            <td class="border-2 h-10">Best girl</td>
            <td class="border-2 h-10">1alsdfkjlk</td>
            <td class="border-2 h-10">
                <img src="{{url_for('static',filename='asset/pencil.svg')}}" class="edit m-auto w-6 h-6 cursor-pointer" alt="">
                <input type="image" src="{{url_for('static',filename='asset/check.svg')}}" class="submit m-auto w-6 h-6" alt="">
                <img src="{{url_for('static',filename='asset/trash.svg')}}" class="delete m-auto w-6 h-6" alt="">
            </td>
        </tr>
        #}
    </table>
    <table class="content container border-2 table-auto">
        <tr id="table-header">
            <th class="border-2 h-10">ID</th>
            <th class="border-2 h-10">Name</th>
            <th class="border-2 h-10">Position</th>
            <th class="border-2 h-10">Clearance</th>
            {% if (editPrivilege) %}
            <th class="border-2 h-10 w-14">Edit</th>
            {% endif %}
        </tr>
        
            {{ m.table_content(volunteer_dict,editPrivilege) }}

        <!-- Placeholder values -->
        {#
        <tr>
            <td class="border-2 h-10">2</td>
            <td class="border-2 h-10">Gay</td>
            <td class="border-2 h-10">Bouncer</td>
            <td class="border-2 h-10">2</td>
            <td class="border-2 h-10">
                <img src="{{url_for('static',filename='asset/pencil.svg')}}" class="edit m-auto w-6 h-6 cursor-pointer" alt="">
                <input type="image" src="{{url_for('static',filename='asset/check.svg')}}" class="submit m-auto w-6 h-6" alt="">
                <img src="{{url_for('static',filename='asset/trash.svg')}}" class="delete m-auto w-6 h-6" alt="">
            </td>
        </tr>
        #}
    </table>
    <table class="content container border-2 table-auto">
        <tr id="table-header">
            <th class="border-2 h-10">ID</th>
            <th class="border-2 h-10">Name</th>
            <th class="border-2 h-10">Position</th>
            <th class="border-2 h-10">Phone number</th>
            <th class="border-2 h-10">Mail</th>
            {% if (editPrivilege) %}
            <th class="border-2 h-10 w-14">Edit</th>
            {% endif %}
        </tr>
            {{ m.table_content(guest_dict,editPrivilege) }}
        
        <!-- Placeholder values -->
        
        <tr>
            <td class="border-2 h-10">3</td>
            <td class="border-2 h-10">Haha Akbar</td>
            <td class="border-2 h-10">LOL</td>
            <td class="border-2 h-10">+1203912803</td>
            <td class="border-2 h-10">hotMail</td>
            <td class="border-2 h-10">
                <img src="{{url_for('static',filename='asset/pencil.svg')}}" class="edit m-auto w-6 h-6 cursor-pointer" alt="">
                <input type="image" src="{{url_for('static',filename='asset/check.svg')}}" class="submit m-auto w-6 h-6" alt="">
                <img src="{{url_for('static',filename='asset/trash.svg')}}" class="delete m-auto w-6 h-6" alt="">
            </td>
        </tr>
        
    </table>
    
    {% if (addPrivilege) %}
    <div class="form-wrapper">
        <form action="" method="post" class="form-panel flex flex-col flex-grow w-full border-gray-300 border-b-2 border-l-2 border-r-2 rounded-b-md">
            <div class="grid gap-x-4 px-2 grid-cols-3 md:grid-cols-3 w-full sm:h-24 md:h-16 rounded-b-md bg-green-200 md:py-3">
                <input type="text" required name="Id" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Existing ID" pattern="[0-9]+" >
                <input type="text" required name="Position" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Position">
                <select required class="rounded border outline-none px-2 my-1 md:my-0 focus:ring-2" name="Clearance">
                    {{ m.dropdown_option(clearance_dict)}}
                    <option value="1" selected>Clearance level : 1</option>
                    <option value="2">Clearance level : 2</option>
                    <option value="3">Clearance level : 3</option>
                </select>    
            </div>
            <div class="w-full flex justify-end pr-2 py-2">
                <input type="submit" value="Add Item" class="w-16 border-b-4 border transition w-20 bg-white p-1 text-center hover:bg-green-300 hover:border-green-400 hover:text-white">
            </div>
        </form>
        <div class="w-full flex justify-end h-6">
            <div class="w-12 bg-gray-100 border-b-2 border-l-2 border-r-2 flex justify-center mr-2 show-form">
                <img src="{{url_for('static',filename='asset/chevron-down.svg')}}" alt="" class="chevron-down transition h-6 w-6">
            </div>
        </div>
    </div>
    <div class="form-wrapper">
        <form action="" method="post" class="form-panel flex flex-col flex-grow w-full border-gray-300 border-b-2 border-l-2 border-r-2 rounded-b-md">
            <div class="grid gap-x-4 px-2 grid-cols-3 md:grid-cols-3 w-full sm:h-24 md:h-16 rounded-b-md bg-green-200 md:py-3">
                <input type="text" required name="Id" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Existing ID" pattern="[0-9]+" >
                <input type="text" required name="Position" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Position">
                <select required class="rounded border outline-none px-2 my-1 md:my-0 focus:ring-2" name="Clearance">
                    <option value="1" selected>Clearance level : 1</option>
                    <option value="2">Clearance level : 2</option>
                    {{ m.dropdown_option(clearance_dict)}}
                </select>    
            </div>
            <div class="w-full flex justify-end pr-2 py-2">
                <input type="submit" value="Add Item" class="w-16 border-b-4 border transition w-20 bg-white p-1 text-center hover:bg-green-300 hover:border-green-400 hover:text-white">
            </div>
        </form>
        <div class="w-full flex justify-end h-6">
            <div class="w-12 bg-gray-100 border-b-2 border-l-2 border-r-2 flex justify-center mr-2 show-form">
                <img src="{{url_for('static',filename='asset/chevron-down.svg')}}" alt="" class="chevron-down transition h-6 w-6">
            </div>
        </div>
    </div>
    <div class="form-wrapper">
        <form action="" method="post" class="form-panel flex flex-col flex-grow w-full border-gray-300 border-b-2 border-l-2 border-r-2 rounded-b-md">
            <div class="grid gap-x-4 px-2 grid-cols-4 md:grid-cols-4 w-full sm:h-24 md:h-16 rounded-b-md bg-green-200 md:py-3">
                <input type="text" required name="name" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Name">
                <input type="text" required name="Position" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Position">
                <input type="text" required name="phone" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Phone" pattern="^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$">
                <input type="email" required name="mail" class="rounded border px-2 outline-none focus:ring-2 my-1 md:my-0" placeholder="Email" pattern='/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'>
            </div>
            <div class="w-full flex justify-end pr-2 py-2">
                <input type="submit" value="Add Item" class="w-16 border-b-4 border transition w-20 bg-white p-1 text-center hover:bg-green-300 hover:border-green-400 hover:text-white">
            </div>
        </form>
        <div class="w-full flex justify-end h-6">
            <div class="w-12 bg-gray-100 border-b-2 border-l-2 border-r-2 flex justify-center mr-2 show-form">
                <img src="{{url_for('static',filename='asset/chevron-down.svg')}}" alt="" class="chevron-down transition h-6 w-6">
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
    <script>
        // Initializes global variables
        var activeTable = 0;var hasEditPrivilege = {{ editPrivilege|safe }};
    </script>
    <script src="{{url_for('static',filename='event_table.js')}}"></script>
    <script src="{{url_for('static',filename='input_validator.js')}}"></script>
    <script>
        
        // I'm not proud of this
        // This is a blunder of a code
        $(document).on('click','.edit', function(){
            $(this).css({'display' : 'none'});
            // Row that is being edited
            editRow = $(this).parent().parent();
            console.log(activeTable)
            if(activeTable != 2){
                // Initializes all default values into the new input
                defaultPositionVal = $(editRow).children('td').eq(2).text();
                defaultClearanceVal = $(editRow).children('td').eq(3).text();
                
                // Todo replace these positions with yeenya
                $(editRow).children('td').eq(2).html(
                    '<input class="m-auto border focus:ring-2 outline-none text-center" id="Position" type="text" required name="Position" value="'+ defaultPositionVal + '">'   
                );
                $(editRow).children('td').eq(3).html(`
                    <select class="m-auto text-center focus:ring-2 border outline-none" id="Clearance" required name="Clearance">
                        <option value="` + defaultClearanceVal + `" selected hidden> Clearance level : ` + defaultClearanceVal + `</option>
                        {{ m.dropdown_option(clearance_dict)}}
                        <option value="1">Clearance level : 1</option>
                        <option value="2">Clearance level : 2</option>
                        <option value="3">Clearance level : 3</option>
                    </select>
                `);

                // Activates second child (checkmark)
            } else{
                defaultNameVal = $(editRow).children('td').eq(1).text();
                console.log(defaultNameVal)
                defaultPositionVal = $(editRow).children('td').eq(2).text();
                defaultPhoneVal = $(editRow).children('td').eq(3).text().replace(/[^0-9.-/+]+/g,"")                
                defaultMailVal = $(editRow).children('td').eq(4).text()                
                
                $(editRow).children('td').eq(1).html('<input class="m-auto border focus:ring-2 outline-none text-center" id="Name" type="text" required name="Name" value="'+ defaultNameVal + '">');
                $(editRow).children('td').eq(2).html('<input class="m-auto border focus:ring-2 outline-none text-center" id="Position" type="text" required name="Position" value='+ defaultPositionVal + '>');
                $(editRow).children('td').eq(3).html('<input class="m-auto border focus:ring-2 outline-none text-center" id="Phone" type="text" required name="Phone" value='+ defaultPhoneVal + '>');
                $(editRow).children('td').eq(4).html('<input class="m-auto border focus:ring-2 outline-none text-center" id="Mail" type="text" required name="Mail" value='+ defaultMailVal + '>');
                
            }
            $(this).parent().children('input').css({'display':'block'});    
        })
        
        $(document).on('click','.submit', function(){
            // Serializes form data into string
        
            // Gets the row that is being edited
            editRow = $(this).parent().parent();
            
            // TODO : input validation
            var serializedForm = ""
            if(activeTable != 2){
                serializedForm += 'Id=' + editRow.children().first().text()
                serializedForm += '&' + editRow.find('#Position').attr('name') + '=' + editRow.find('#Position').val()
                serializedForm += '&' + editRow.find('#Clearance').attr('name') + '=' + editRow.find('#Clearance').val()
                serializedForm += "&activeTable=" + activeTable;

                if(!validateName(editRow.find('#Position').val())){
                    editRow.find('#Position').addClass('border-red-500');
                    return 0;
                } else if(!validateInt(editRow.find('#Clearance').val())){
                    editRow.find('#Clearance').addClass('border-red-500');
                    return 0;
                }

                $(editRow).children('td').eq(2).html(editRow.find('#Position').val());
                $(editRow).children('td').eq(3).html(editRow.find('#Clearance').val());
            } else{
                serializedForm += 'Id=' + editRow.children().first().text()
                serializedForm += '&' + editRow.find('#Name').attr('name') + '=' + editRow.find('#Name').val()
                serializedForm += '&' + editRow.find('#Position').attr('name') + '=' + editRow.find('#Position').val()
                serializedForm += '&' + editRow.find('#Phone').attr('name') + '=' + editRow.find('#Phone').val()
                serializedForm += '&' + editRow.find('#Mail').attr('name') + '=' + editRow.find('#Mail').val()
                serializedForm += "&activeTable=" + activeTable;
                
                if(!validateName(editRow.find('#Name').val())){
                    editRow.find('#Name').addClass('border-red-500');
                    return 0;
                } else if(!validateName(editRow.find('#Position').val())){
                    editRow.find('#Position').addClass('border-red-500');
                    return 0;
                } else if(!validatePhone(editRow.find('#Phone').val())){
                    editRow.find('#Phone').addClass('border-red-500');
                    return 0;
                } else if(!validateEmail(editRow.find('#Mail').val())){
                    editRow.find('#Mail').addClass('border-red-500');
                    return 0;
                }
                
                $(editRow).children('td').eq(1).html(editRow.find('#Name').val());
                $(editRow).children('td').eq(2).html(editRow.find('#Position').val());
                $(editRow).children('td').eq(3).html(editRow.find('#Phone').val());
                $(editRow).children('td').eq(4).html(editRow.find('#Mail').val());
            }
            
            console.log(serializedForm);
            // Used to add a record on the front end
            var currentPath = window.location.pathname;
            $(this).parent().children('img').css({'display':'block'});
            
            $.ajax({
                type : "POST",
                url : currentPath + "/update",
                data : serializedForm,
                success : function(){
                    alert("Succesfully added record");
                }
            });
            $(this).parent().children('input').css({'display':'none'});
        });
    </script>
{% endblock %} 