{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='onboarding.css')}}">
{% endblock %}

{% block title %}
{% endblock %}

{% block body %}
<div class="w-full h-screen overflow-y-hidden">
    <img src="{{url_for('static', filename='asset/onboarding_bg.webp')}}" alt="Man on reception" class="w-full h-screen object-cover">
</div>
<div class="w-full h-screen  absolute left-0 top-0 bg-black bg-opacity-50 flex flex-col justify-center items-center">
    <div class="w-1/4 h-2/5 flex flex-col bg-black bg-green-200 bg-opacity-90 rounded-md items-stretch min-h-min" style = "min-height: 380px; min-width: 300px;">
        <h1 class="w-full flex h-1/6 text-center text-3xl justify-center items-center bg-green-200 bg-opacity-50 rounded-md">
            {% block onboarding_type %}{% endblock %}
        </h1>
        <div class="onboard_form w-full flex-grow">
            {% block onboarding_form %}{% endblock %}
        </div>
    </div>
    <span class="text-white text-sm m-2">
    {% block login_text %}{% endblock %}
    </span>
</div>
{% endblock %}