{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='onboarding.css')}}">
{% endblock %}

{% block title %}
{% endblock %}

{% block body %}
<img src="{{url_for('static', filename='asset/onboarding_bg.webp')}}" alt="Man on reception" class="container h-screen object-cover">
<div class="container absolute left-0 top-0 bg-black h-screen bg-opacity-50 flex flex-col justify-center items-center">
    <div class="w-1/4 h-2/5 flex flex-col bg-black bg-green-200 bg-opacity-90 rounded-md items-stretch min-h-min" style = "min-height: 380px; min-width: 300px;">
        <div class="onboard_title w-full flex h-1/6 text-center text-3xl justify-center items-center bg-green-200 bg-opacity-50 rounded-md">
            {% block onboarding_type %}{% endblock %}
        </div>
        
        <div class="logo"></div>
        <div class="onboard_form w-full flex-grow">
            {% block onboarding_form %}{% endblock %}
        </div>
    </div>
    <span class="text-white text-sm m-2">
    {% if login_text %}
        Don't have an account yet? <a class = "hover:underline" href="{{url_for('user.register')}}">Sign up</a>
    {% else %}
        Already have an account? <a class = "hover:underline" href="{{url_for('user.login')}}"> Log in</a>
    {% endif %}
    </span>
</div>
{% endblock %}