{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}
<img src="{{url_for('static', filename='asset/onboarding_bg.webp')}}" alt="Man on reception" class="container h-screen object-cover">
<div class="container absolute left-0 top-0 bg-black h-screen bg-opacity-50 flex justify-center items-center">
    <div class="w-1/4 h-3/5 flex flex-col bg-black border-4 border-gray-400 rounded-md bg-green-200 items-stretch min-h-min" style = "min-height: 380px; min-width: 300;">
        <div class="w-full flex h-1/6 bg-green-300 text-center text-3xl text-black justify-center items-center">
            {% block onboarding_type %}{% endblock %}
        </div>
        <div class="w-full flex-1">
            {% block onboarding_form %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}