{% extends 'onboarding.html'%}

{% block title %}
Register - 
{% endblock %}

{% block onboarding_type %}
Register
{% endblock %}

{% block onboarding_form %}
<form method = "POST" id = "form" class="flex flex-col h-full items-center justify-evenly">
    <input class = "m-3 w-4/5 p-3 border-2 rounded-md" type = "email" name = "mail" id = "mail" value = "" required placeholder="E-Mail">
    <input class = "m-3 w-4/5 p-3 border-2 rounded-md" type = "text" name = "name" id = "name" value = "" required placeholder="Username">
    <input class = "m-3 w-4/5 p-3 border-2 rounded-md" type = "password" name = "pwd" id = "pwd" value = "" required placeholder="Password">
    <div class="container flex flex-col items-center">
        <input class = "p-2 w-32 border-2 rounded-md cursor-pointer" type = "submit" value = "Sign up">
        <a class = "text-xs" href="{{url_for('user.login')}}">or log in</a>
    </div>
</form>
{% endblock %}
